
.google-map{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 40px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px  ;  
      
}